@media(max-width: 1500px) {
  div#sidebar {
    width: 100%;
  }
}

@media(min-width: 1000px) {
  div#sidebar {
    width: 60%;
  }
}

.box {
  position: relative;
}

.title {
  position: absolute;
  font-size: 30px;
  color: navy;
  width: 5vw;
  margin: 2%;
  }

.parent {
  display: flex;
  justify-content: flex-end;
}

.header1 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
}

.header2 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
}

.header3 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
}

.header4 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
}

.text_position {
  position: relative;
}

.text {
  position: absolute;
  top: 350px;
  font-size: 50px;
  font-weight: normal;
}

.img {
  position: fixed;
  width: 45%;
  height: 50%;
  top: 20%;
  bottom: 20%;
  left: 55%;
  z-index: 10;
}

.box2 {
  background: navy;
  position: relative;
  width: 70%;
  height: 150px;
  top: 40%;
  z-index: 0;
}