@media(max-width: 1500px) {
  div#sidebar {
    width: 100%;
  }
}

@media(min-width: 1000px) {
  div#sidebar {
    width: 60%;
  }
}

.box {
  position: relative;
}

.title {
  position: absolute;
  font-size: 30px;
  color: navy;
  width: 5vw;
  margin: 20px;
}

.parent {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header1 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
  font-size: 1rem;
}

.header2 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
  font-size: 1rem;
}

.header3 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
  font-size: 1rem;
}

.header4 {
  box-sizing: border-box;
  color: navy;
  margin: 20px;
  font-size: 1rem;
}

.text {
  position: absolute;
  top: 600%;
  font-size: 50px;
  font-weight: normal;
}

.img {
  position: absolute;
  width: 42%;
  height: 650%;
  top: 200%;
  left: 58%;
  z-index: 10;
}

.box2 {
  display: inline-block;
  background: navy;
  position: absolute;
  width: 70%;
  height: 150px;
  top: 700%;
  z-index: 0;
}